<section id="alumni">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Alumni</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row no-gutter" id="alumni-grid">
            {% for alumnus in site.alumni %}
            <div class="col-lg-1 col-md-2 col-xs-3">
                <a href="{{ alumnus.url }}" class="portfolio-box">
                    <img src="img/team/{{ alumnus.img }}" class="img-responsive" alt="{{ alumnus.name }}" height="300px">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name alumni-name">
                                {{ alumnus.name }}
                            </div>
                            <div class="project-category alumni-role text-faded">
                                {{ alumnus.degree }}
                            </div>
                            <div class="project-category alumni-role text-bold">
                                {{ alumnus.role }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
