<ul>
<section id="thesis">
  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading">Thesis</h2>
      <hr class="primary">
    </div>
    <div>
<li>Díaz Huenupán, F. 2023. Diseño e implementación de un algoritmo para la estimación de la orientación para nanosatélites en un sistema embebido con restricciones de tiempo real. <a href="https://repositorio.uchile.cl/handle/2250/196755"> Memoria de Ingeniero Civil Eléctrico. Santiago, Universidad de Chile, Facultad de Ciencias Físicas y Matemáticas. </li>
<li>Vidal Valladares, M. 2023. Development and analysis of a localization methodology for femto-satellites using two cubesats in space. <a href="https://repositorio.uchile.cl/handle/2250/195121"> Memory of Doctor in Electrical Engineering. Santiago, Universidad de Chile, Facultad de Ciencias Físicas y Matemáticas.</li>
<li>Gutiérrez Russell, S. 2023. Developing and testing an ultra-low-cost star tracker for attitude determinations of nanosatellites. <a href="https://repositorio.uchile.cl/handle/2250/194384"> Memory of Doctor in Electrical Engineering. Santiago, Universidad de Chile, Facultad de Ciencias Físicas y Matemáticas.</li>
<li>Valdés Abreu, J. 2023. Degradation of the global navigation satellite system positioning accuracy caused by ionospheric disturbance sources. <a href="https://repositorio.uchile.cl/handle/2250/193060"> Memory of Doctor in Electrical Engineering. Santiago, Universidad de Chile, Facultad de Ciencias Físicas y Matemáticas.</li>
<li>Rojas, J. 2016. Diseño e implementación de una estación terrena en la banda de 2.4 GHz para nanosatélites tipo Cubesat de 2/3U. <a href="https://repositorio.uchile.cl/handle/2250/141321"> Memoria de Ingeniero Civil Eléctrico. Santiago, Universidad de Chile, Facultad de Ciencias Físicas y Matemáticas.</li>
<li>Vidal, M. 2016. Desarrollo y evaluación de un sistema de comunicación para un nanosatélite. <a href="https://repositorio.uchile.cl/handle/2250/141235"> Memoria de Ingeniero Civil Eléctrico. Santiago, Universidad de Chile, Facultad de Ciencias Físicas y Matemáticas.</li>
<li>González, C. 2013. Diseño e implementación del software de vuelo para un nano-satélite tipo cubesat. <a href="https://tesis.uchile.cl/handle/2250/115307"> Memoria de Ingeniero Civil Eléctrico. Santiago, Universidad de Chile, Facultad de Ciencias Físicas y Matemáticas.</li>
<li>Opazo, T. 2013. Requerimientos, implementación y verificación del nano-satélite SUCHAI. <a href="https://tesis.uchile.cl/handle/2250/115628"> Memoria de Ingeniero Civil Eléctrico. Santiago, Universidad de Chile, Facultad de Ciencias Físicas y Matemáticas.</li>
<li>Derteano, S. 2012. Aplicación y evaluación de estrategias para control de errores en canales satelitales mediante BICM. <a href="https://www.tesis.uchile.cl/handle/2250/111912"> Memoria de Ingeniero Civil Eléctrico. Santiago, Universidad de Chile, Facultad de Ciencias Físicas y Matemáticas.</li>
<li>Troncoso, F. 2012. Evaluación y aplicación de estrategias para control de errores en canales satelitales mediante codificación algebraica.<a href="https://repositorio.uchile.cl/handle/2250/1126155"> Memoria de Ingeniero Civil Eléctrico. Santiago, Universidad de Chile, Facultad de Ciencias Físicas y Matemáticas.</li>
<li>Rojas, C. 2012. Modelación estadística de canal satelital para aplicación en microsatélites.<a href="https://repositorio.uchile.cl/handle/2250/112070"> Memoria de Ingeniero Civil Eléctrico. Santiago, Universidad de Chile, Facultad de Ciencias Físicas y Matemáticas.</li> </div>  
 </div>
 </div>
</section>

</ul>
